body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url("./images/tom3.png");
  background-size: cover;

}

.a {
  background-image: url("./images/tom4.png");
  background-size: cover;

}

.s {
background-image: url("./images/tom2.png");
background-size: cover;
}

.d {
  background-image: url("./images/tom1.png");
background-size: cover;
}

.j {
  background-image: url("./images/crash.png");
  background-size: cover;

}

.k {
  background-image: url("./images/kick.png");
  background-size: cover;

}

.l {
  background-image: url("./images/snare.png");
  background-size: cover;

}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
  transition: all 0.3 ease;
}


button:hover{
  transform: scale(1.1);
  box-shadow: 3px 3px 6px rgb(237, 243, 240),  
    -3px -3px 6px rgba(23, 22, 68, 0.5); 

}


body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(270deg, #b96eb4, #acad58, #6a11cb, #fc3325);
  background-size: 800% 800%;
  animation: flowGradient 15s ease infinite;
}

@keyframes flowGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

footer
{
  font-size: 1.5rem;
}

a{
  color: #DBEDF3;
  font-family: 'Times New Roman', Times, serif;
}